{% extends 'Base.html' %}

{% block title %}Início{% endblock %}


{% block content %}

{% include 'components/Nav.html' %}

<div class="flex-1 flex flex-col items-center">
	<img class='w-32 md:w-48 pb-4' src='../static/assets/CoPalpites-logo.png' alt='CoPalpites Logo'>
    
<!--     <div class='flex w-64 md:w-64 justify-evenly pb-8'>
        <div class='w-24 flex flex-col items-center p-2 border border-gray-400 rounded-sm bg-white'>
            <p>Já somos</p>
            <p class='font-bold text-2xl'>{{ counts[0] }}</p>
            <p>palpiteiros</p>
        </div>
        <div class='w-24 flex flex-col items-center p-2 border border-gray-400 rounded-sm bg-white'>
            <p>E fizemos</p>
            <p class='font-bold text-2xl'>{{ counts[1] }}</p>
            <p>palpites!</p>
        </div>
    </div> -->

    <div class='items-start'>
		<p>Use o menu para conhecer mais da plataforma.</p>
		<br>
		<p><b>Palpites</b> para fazer os seus palpites nos próximos jogos.</p>
		<p><b>Ranking</b> para ver a tabela do Ranking global.</p>
		<p><b>Jogos</b> para ver os resultados e agenda dos próximos jogos.</p>
		<p><b>Regras</b> para entender como funciona.</p>
		<p><b>Perfil</b> para criar seu usuário e atualizar suas informações.</p>
    </div>
</div>

{% endblock %}