<nav class='flex flex-col pb-4 w-full md:px-12 md:mx-auto lg:px-32'>
  <p class=''>Amistosos</p>
  <div class='grid grid-cols-3 place-items-start text-sm md:text-base'>
    <a href='am03'>
      <p>| Março</p>
    </a>
    <a href='am05'>
      <p>| Maio</p>
    </a>
    <a href='am06'>
      <p>| Junho</p>
    </a>
  </div>
  <br>
  <p class=''>Fase de Grupos</p>
  <div class='grid grid-cols-6 md:grid-cols-9 place-items-start text-sm md:text-base'>
    <a href='11'>
      <p>| Dia 11</p>
    </a>
    <a href='12'>
      <p>| Dia 12</p>
    </a>
    <a href='13'>
      <p>| Dia 13</p>
    </a>
    <a href='14'>
      <p>| Dia 14</p>
    </a>
    <a href='15'>
      <p>| Dia 15</p>
    </a>
    <a href='16'>
      <p>| Dia 16</p>
    </a>
    <a href='17'>
      <p>| Dia 17</p>
    </a>
    <a href='18'>
      <p>| Dia 18</p>
    </a>
    <a href='19'>
      <p>| Dia 19</p>
    </a>
    <a href='20'>
      <p>| Dia 20</p>
    </a>
    <a href='21'>
      <p>| Dia 21</p>
    </a>
    <a href='22'>
      <p>| Dia 22</p>
    </a>
    <a href='23'>
      <p>| Dia 23</p>
    </a>
    <a href='24'>
      <p>| Dia 24</p>
    </a>
    <a href='25'>
      <p>| Dia 25</p>
    </a>
    <a href='26'>
      <p>| Dia 26</p>
    </a>
    <a href='27'>
      <p>| Dia 27</p>
    </a>
  </div>

  <p class='text-center pt-4'>Chaveamentos</p>
  <div class='grid grid-cols-4 md:grid-cols-7 place-items-start text-sm md:text-base'>
    <a href='/home'>
      <p>| 16-avos 01</p>
    </a>
    <a href='/home'>
      <p>| 16-avos 02</p>
    </a>
    <a href='/home'>
      <p>| Oitavas</p>
    </a>
    <a href='/home'>
      <p>| Quartas</p>
    </a>
    <a href='/home'>
      <p>| Semi</p>
    </a>
    <a href='/home'>
      <p>| 3º lugar</p>
    </a>
    <a href='/home'>
      <p>| Final</p>
    </a>
  </div>
</nav>