<nav class='flex justify-evenly pb-4 md:flex-col md:pb-0 md:justify-start'>
  <a href='/home'>
    <p class='md:text-xl md:pr-2 text-sm'>| Início</p>
  </a>
  <a href='/guesses'>
    <p class='md:text-xl md:pr-2 text-sm'>| Palpites</p>
  </a>
  <a href='/ranking'>
    <p class='md:text-xl md:pr-2 text-sm'>| Ranking</p>
  </a>
  <a href='/games'>
    <p class='md:text-xl md:pr-2 text-sm'>| Jogos</p>
  </a>
  <a href='/rules'>
    <p class='md:text-xl md:pr-2 text-sm'>| Regras</p>
  </a>
  <a href='/profile'>
    <p class='md:text-xl md:pr-2 text-sm'>| Perfil</p>
  </a>
  <a href='/logout'>
    <p class='md:text-xl md:pr-2 text-sm'>| Sair</p>
  </a>
</nav>