{% extends 'Base.html' %}

{% block title %}Palpites{% endblock %}


{% block content %}

{% include 'components/Nav.html' %}

<div class="flex-1 flex flex-col items-center">
	<p class='text-2xl md:pb-8 pb-4'>Palpites</p>

	{% include 'components/GuessesNav.html' %}

	<!-- 18-06-2026 -->
	<form action='18' method='post'>
	<div class='flex-1 flex flex-col items-center'>

		{% if message %}
			<p class='text-red-600 py-2'>{{ message }}</p>
		{% endif %}

		<p class='py-2 underline text-xl'>18-06-2026</p>
		<p class='text-xs text-gray-400'>13:00</p>
		<div class='grid grid-cols-[1fr_128px_1fr] pb-2'>
			<div class='flex items-center justify-end'>
				<div class='pr-2'>Chéquia</div>
				<img class='w-8' src='../static/assets/flags/CZE.png' />
			</div>
			<div class='flex justify-center'>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='a03_home' name='a03_home' type='number' min='0' max='20' required {{ match_status.a03 }}
					value= {{ guesses.a03_home }}>
				<div class=' px-2 justify-self-center self-center'>x</div>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='a03_away' name='a03_away' type='number' min='0' max='20' required {{ match_status.a03 }}
					value={{ guesses.a03_away }}>
			</div>
			<div class='flex items-center justify-start'>
				<img class='w-8' src='../static/assets/flags/RSA.png' />
				<div class='pl-2'>África do Sul</div>
			</div>
		</div>
		{% if results.a03_home is not none %}
		<div class='flex justify-center pb-4'>
			<div class=''>
				Placar Final: {{ results.a03_home }} x {{ results.a03_away }} - <span class='font-bold'>+{{ guesses.a03_points }} pontos</span>
			</div>
		</div>
		{% endif %}

		<p class='text-xs text-gray-400'>16:00</p>
		<div class='grid grid-cols-[1fr_128px_1fr] pb-2'>
			<div class='flex items-center justify-end'>
				<div class='pr-2'>Suíça</div>
				<img class='w-8' src='../static/assets/flags/SWI.png' />
			</div>
			<div class='flex justify-center'>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='b03_home' name='b03_home' type='number' min='0' max='20' required {{ match_status.b03 }}
					value= {{ guesses.b03_home }}>
				<div class=' px-2 justify-self-center self-center'>x</div>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='b03_away' name='b03_away' type='number' min='0' max='20' required {{ match_status.b03 }}
					value={{ guesses.b03_away }}>
			</div>
			<div class='flex items-center justify-start'>
				<img class='w-8' src='../static/assets/flags/BIH.png' />
				<div class='pl-2'>Bósnia e Herzegovina</div>
			</div>
		</div>
		{% if results.b03_home is not none %}
		<div class='flex justify-center pb-4'>
			<div class=''>
				Placar Final: {{ results.b03_home }} x {{ results.b03_away }} - <span class='font-bold'>+{{ guesses.b03_points }} pontos</span>
			</div>
		</div>
		{% endif %}

		<p class='text-xs text-gray-400'>19:00</p>
		<div class='grid grid-cols-[1fr_128px_1fr] pb-2'>
			<div class='flex items-center justify-end'>
				<div class='pr-2'>Canadá</div>
				<img class='w-8' src='../static/assets/flags/CAN.png' />
			</div>
			<div class='flex justify-center'>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='b04_home' name='b04_home' type='number' min='0' max='20' required {{ match_status.b04 }}
					value= {{ guesses.b04_home }}>
				<div class=' px-2 justify-self-center self-center'>x</div>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='b04_away' name='b04_away' type='number' min='0' max='20' required {{ match_status.b04 }}
					value={{ guesses.b04_away }}>
			</div>
			<div class='flex items-center justify-start'>
				<img class='w-8' src='../static/assets/flags/QAT.png' />
				<div class='pl-2'>Catar</div>
			</div>
		</div>
		{% if results.b04_home is not none %}
		<div class='flex justify-center pb-4'>
			<div class=''>
				Placar Final: {{ results.b04_home }} x {{ results.b04_away }} - <span class='font-bold'>+{{ guesses.b04_points }} pontos</span>
			</div>
		</div>
		{% endif %}

		<p class='text-xs text-gray-400'>22:00</p>
		<div class='grid grid-cols-[1fr_128px_1fr] pb-2'>
			<div class='flex items-center justify-end'>
				<div class='pr-2'>México</div>
				<img class='w-8' src='../static/assets/flags/MEX.png' />
			</div>
			<div class='flex justify-center'>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='a04_home' name='a04_home' type='number' min='0' max='20' required {{ match_status.a04 }}
					value= {{ guesses.a04_home }}>
				<div class=' px-2 justify-self-center self-center'>x</div>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='a04_away' name='a04_away' type='number' min='0' max='20' required {{ match_status.a04 }}
					value={{ guesses.a04_away }}>
			</div>
			<div class='flex items-center justify-start'>
				<img class='w-8' src='../static/assets/flags/KOR.png' />
				<div class='pl-2'>República da Coreia</div>
			</div>
		</div>
		{% if results.a04_home is not none %}
		<div class='flex justify-center pb-4'>
			<div class=''>
				Placar Final: {{ results.a04_home }} x {{ results.a04_away }} - <span class='font-bold'>+{{ guesses.a04_points }} pontos</span>
			</div>
		</div>
		{% endif %}

		<div class='pt-2'>
			<button type='submit' class='text-white bg-blue-800 rounded-md px-2 cursor-pointer'>Palpitar</button>
		</div>
		{% if error_message %}
			<p class='text-red-600 py-2'>{{ error_message }}</p>
		{% endif %}
	</div>
	</form>

</div>
{% endblock %}