{% extends 'Base.html' %}

{% block title %}Palpites{% endblock %}


{% block content %}

{% include 'components/Nav.html' %}

<div class="flex-1 flex flex-col items-center">
	<p class='text-2xl md:pb-8 pb-4'>Palpites</p>

	{% include 'components/GuessesNav.html' %}

	<!-- 19-06-2026 -->
	<form action='19' method='post'>
	<div class='flex-1 flex flex-col items-center'>

		{% if message %}
			<p class='text-red-600 py-2'>{{ message }}</p>
		{% endif %}

		<p class='py-2 underline text-xl'>19-06-2026</p>
		<p class='text-xs text-gray-400'>16:00</p>
		<div class='grid grid-cols-[1fr_128px_1fr] pb-2'>
			<div class='flex items-center justify-end'>
				<div class='pr-2'>Estados Unidos</div>
				<img class='w-8' src='../static/assets/flags/USA.png' />
			</div>
			<div class='flex justify-center'>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='d03_home' name='d03_home' type='number' min='0' max='20' required {{ match_status.d03 }}
					value= {{ guesses.d03_home }}>
				<div class=' px-2 justify-self-center self-center'>x</div>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='d03_away' name='d03_away' type='number' min='0' max='20' required {{ match_status.d03 }}
					value={{ guesses.d03_away }}>
			</div>
			<div class='flex items-center justify-start'>
				<img class='w-8' src='../static/assets/flags/AUS.png' />
				<div class='pl-2'>Austrália</div>
			</div>
		</div>
		{% if results.d03_home is not none %}
		<div class='flex justify-center pb-4'>
			<div class=''>
				Placar Final: {{ results.d03_home }} x {{ results.d03_away }} - <span class='font-bold'>+{{ guesses.d03_points }} pontos</span>
			</div>
		</div>
		{% endif %}

		<p class='text-xs text-gray-400'>19:00</p>
		<div class='grid grid-cols-[1fr_128px_1fr] pb-2'>
			<div class='flex items-center justify-end'>
				<div class='pr-2'>Escócia</div>
				<img class='w-8' src='../static/assets/flags/SCO.png' />
			</div>
			<div class='flex justify-center'>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='c03_home' name='c03_home' type='number' min='0' max='20' required {{ match_status.c03 }}
					value= {{ guesses.c03_home }}>
				<div class=' px-2 justify-self-center self-center'>x</div>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='c03_away' name='c03_away' type='number' min='0' max='20' required {{ match_status.c03 }}
					value={{ guesses.c03_away }}>
			</div>
			<div class='flex items-center justify-start'>
				<img class='w-8' src='../static/assets/flags/MAR.png' />
				<div class='pl-2'>Marrocos</div>
			</div>
		</div>
		{% if results.c03_home is not none %}
		<div class='flex justify-center pb-4'>
			<div class=''>
				Placar Final: {{ results.c03_home }} x {{ results.c03_away }} - <span class='font-bold'>+{{ guesses.c03_points }} pontos</span>
			</div>
		</div>
		{% endif %}

		<p class='text-xs text-gray-400'>21:30</p>
		<div class='grid grid-cols-[1fr_128px_1fr] pb-2'>
			<div class='flex items-center justify-end'>
				<div class='pr-2'>Brasil</div>
				<img class='w-8' src='../static/assets/flags/BRA.png' />
			</div>
			<div class='flex justify-center'>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='c04_home' name='c04_home' type='number' min='0' max='20' required {{ match_status.c04 }}
					value= {{ guesses.c04_home }}>
				<div class=' px-2 justify-self-center self-center'>x</div>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='c04_away' name='c04_away' type='number' min='0' max='20' required {{ match_status.c04 }}
					value={{ guesses.c04_away }}>
			</div>
			<div class='flex items-center justify-start'>
				<img class='w-8' src='../static/assets/flags/HAI.png' />
				<div class='pl-2'>Haiti</div>
			</div>
		</div>
		{% if results.c04_home is not none %}
		<div class='flex justify-center pb-4'>
			<div class=''>
				Placar Final: {{ results.c04_home }} x {{ results.c04_away }} - <span class='font-bold'>+{{ guesses.c04_points }} pontos</span>
			</div>
		</div>
		{% endif %}

		<p class='text-xs text-gray-400'>00:00* - 20-06</p>
		<div class='grid grid-cols-[1fr_128px_1fr] pb-2'>
			<div class='flex items-center justify-end'>
				<div class='pr-2'>Turquia</div>
				<img class='w-8' src='../static/assets/flags/TUR.png' />
			</div>
			<div class='flex justify-center'>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='d04_home' name='d04_home' type='number' min='0' max='20' required {{ match_status.d04 }}
					value= {{ guesses.d04_home }}>
				<div class=' px-2 justify-self-center self-center'>x</div>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='d04_away' name='d04_away' type='number' min='0' max='20' required {{ match_status.d04 }}
					value={{ guesses.d04_away }}>
			</div>
			<div class='flex items-center justify-start'>
				<img class='w-8' src='../static/assets/flags/PAR.png' />
				<div class='pl-2'>Paraguai</div>
			</div>
		</div>
		{% if results.d04_home is not none %}
		<div class='flex justify-center pb-4'>
			<div class=''>
				Placar Final: {{ results.d04_home }} x {{ results.d04_away }} - <span class='font-bold'>+{{ guesses.d04_points }} pontos</span>
			</div>
		</div>
		{% endif %}

		<div class='pt-2'>
			<button type='submit' class='text-white bg-blue-800 rounded-md px-2 cursor-pointer'>Palpitar</button>
		</div>
		{% if error_message %}
			<p class='text-red-600 py-2'>{{ error_message }}</p>
		{% endif %}
	</div>
	</form>

</div>
{% endblock %}