{% extends 'Base.html' %}

{% block title %}Palpites{% endblock %}


{% block content %}

{% include 'components/Nav.html' %}

<div class="flex-1 flex flex-col items-center">
	<p class='text-2xl md:pb-8 pb-4'>Palpites</p>

	{% include 'components/GuessesNav.html' %}

	<!-- 23-06-2026 -->
	<form action='23' method='post'>
	<div class='flex-1 flex flex-col items-center'>

		{% if message %}
			<p class='text-red-600 py-2'>{{ message }}</p>
		{% endif %}

		<p class='py-2 underline text-xl'>23-06-2026</p>
		<p class='text-xs text-gray-400'>14:00</p>
		<div class='grid grid-cols-[1fr_128px_1fr] pb-2'>
			<div class='flex items-center justify-end'>
				<div class='pr-2'>Portugal</div>
				<img class='w-8' src='../static/assets/flags/POR.png' />
			</div>
			<div class='flex justify-center'>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='k03_home' name='k03_home' type='number' min='0' max='20' required {{ match_status.k03 }}
					value= {{ guesses.k03_home }}>
				<div class=' px-2 justify-self-center self-center'>x</div>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='k03_away' name='k03_away' type='number' min='0' max='20' required {{ match_status.k03 }}
					value={{ guesses.k03_away }}>
			</div>
			<div class='flex items-center justify-start'>
				<img class='w-8' src='../static/assets/flags/UZB.png' />
				<div class='pl-2'>Uzbequistão</div>
			</div>
		</div>
		{% if results.k03_home is not none %}
		<div class='flex justify-center pb-4'>
			<div class=''>
				Placar Final: {{ results.k03_home }} x {{ results.k03_away }} - <span class='font-bold'>+{{ guesses.k03_points }} pontos</span>
			</div>
		</div>
		{% endif %}

		<p class='text-xs text-gray-400'>17:00</p>
		<div class='grid grid-cols-[1fr_128px_1fr] pb-2'>
			<div class='flex items-center justify-end'>
				<div class='pr-2'>Inglaterra</div>
				<img class='w-8' src='../static/assets/flags/ENG.png' />
			</div>
			<div class='flex justify-center'>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='l03_home' name='l03_home' type='number' min='0' max='20' required {{ match_status.l03 }}
					value= {{ guesses.l03_home }}>
				<div class=' px-2 justify-self-center self-center'>x</div>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='l03_away' name='l03_away' type='number' min='0' max='20' required {{ match_status.l03 }}
					value={{ guesses.l03_away }}>
			</div>
			<div class='flex items-center justify-start'>
				<img class='w-8' src='../static/assets/flags/GHA.png' />
				<div class='pl-2'>Gana</div>
			</div>
		</div>
		{% if results.l03_home is not none %}
		<div class='flex justify-center pb-4'>
			<div class=''>
				Placar Final: {{ results.l03_home }} x {{ results.l03_away }} - <span class='font-bold'>+{{ guesses.l03_points }} pontos</span>
			</div>
		</div>
		{% endif %}

		<p class='text-xs text-gray-400'>20:00</p>
		<div class='grid grid-cols-[1fr_128px_1fr] pb-2'>
			<div class='flex items-center justify-end'>
				<div class='pr-2'>Panamá</div>
				<img class='w-8' src='../static/assets/flags/PAN.png' />
			</div>
			<div class='flex justify-center'>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='l04_home' name='l04_home' type='number' min='0' max='20' required {{ match_status.l04 }}
					value= {{ guesses.l04_home }}>
				<div class=' px-2 justify-self-center self-center'>x</div>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='l04_away' name='l04_away' type='number' min='0' max='20' required {{ match_status.l04 }}
					value={{ guesses.l04_away }}>
			</div>
			<div class='flex items-center justify-start'>
				<img class='w-8' src='../static/assets/flags/CRO.png' />
				<div class='pl-2'>Croácia</div>
			</div>
		</div>
		{% if results.l04_home is not none %}
		<div class='flex justify-center pb-4'>
			<div class=''>
				Placar Final: {{ results.l04_home }} x {{ results.l04_away }} - <span class='font-bold'>+{{ guesses.l04_points }} pontos</span>
			</div>
		</div>
		{% endif %}
		<p class='text-xs text-gray-400'>23:00</p>
		<div class='grid grid-cols-[1fr_128px_1fr] pb-2'>
			<div class='flex items-center justify-end'>
				<div class='pr-2'>Colômbia</div>
				<img class='w-8' src='../static/assets/flags/COL.png' />
			</div>
			<div class='flex justify-center'>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='k04_home' name='k04_home' type='number' min='0' max='20' required {{ match_status.k04 }}
					value= {{ guesses.k04_home }}>
				<div class=' px-2 justify-self-center self-center'>x</div>
				<input class='w-12 border rounded-sm border-gray-400 pl-2'
					id='k04_away' name='k04_away' type='number' min='0' max='20' required {{ match_status.k04 }}
					value={{ guesses.k04_away }}>
			</div>
			<div class='flex items-center justify-start'>
				<img class='w-8' src='../static/assets/flags/COD.png' />
				<div class='pl-2'>RD do Congo</div>
			</div>
		</div>
		{% if results.k04_home is not none %}
		<div class='flex justify-center pb-4'>
			<div class=''>
				Placar Final: {{ results.k04_home }} x {{ results.k04_away }} - <span class='font-bold'>+{{ guesses.k04_points }} pontos</span>
			</div>
		</div>
		{% endif %}

		<div class='pt-2'>
			<button type='submit' class='text-white bg-blue-800 rounded-md px-2 cursor-pointer'>Palpitar</button>
		</div>
		{% if error_message %}
			<p class='text-red-600 py-2'>{{ error_message }}</p>
		{% endif %}
	</div>
	</form>

</div>
{% endblock %}